.navbar {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  padding: 1rem 3rem;
  color: var(--color-fg);
  background-color: var(--color-bg);
  border-bottom: solid 0.1rem var(--color-white-border);
  position: fixed;
  width: 100%;

  .navbar__item {
    --_offset: 0.2rem;
    padding: 0.5rem 1rem;
    text-decoration: underline;
    text-decoration-thickness: 0.1rem;
    text-underline-offset: var(--_offset);
    cursor: pointer;
    transition: text-underline-offset 0.2s ease-in-out;
    &:hover {
      --_offset: 0.5rem;
    }
  }
  .navbar__list {
    display: flex;
    flex-direction: row;
  }
}

.navbar__container_logo{
  width: 4rem;
  height: 2rem;
  overflow: hidden;
}

.navbar__logo{
  width: 4rem;
}

.navbar__profil{
  border: none;
  border-radius: 5rem;
  background-color: var(--color-black);
  color: var(--color-white);
}

.navbar__container{
  display: flex;
  flex-direction: row;
}