<nav class="navbar font-sans">

  <div class="navbar__container">
    <div class="navbar__container_logo">
      <img src="https://mmi.unilim.fr/~poinet2/SAE2.03-Valentin-Poinet/server/images/orf_on.png" alt="orf on"
        class="navbar__logo">
    </div>
    
    <ul class="navbar__list">
      <li class="navbar__item" onclick="location.href='index.html'">Home</li>
    </ul>
  </div>

  <select id="profile-select" required class="navbar__profil" onchange="C.handleProfileChange()">
    {{name}}
  </select>
</nav>