<div class="addMovie">
    <h4 class="addMovie__title"># Ajouter ou modifier un film</h4>
    <form class="addMovie__form">

        <input required type="text" name="name" placeholder="Saisir le titre du film" >
        <input required type="text" name="director" placeholder="Saisir le nom du réalisateur" pattern="[^0-9]*" title="Numbers are not allowed">
        <input required type="number" name="id_category" placeholder="Saisir le nom de la catégorie">
        <input required type="number" name="year" placeholder="Saisir l'année de sortie du film">
        <input required type="number" name="length" placeholder="Saisir la durée du film en min">
        <input required type="text" name="image" placeholder="Saisir le nom du fichier de l'image" >
        <input required type="text" name="trailer" placeholder="Saisir l'URL du trailer" >
        <input required type="number" name="min_age" placeholder="Saisir la restriction d'age">
        <input required type="text" name="description" placeholder="Saisir la description du film">


        <input onclick="{{handler}}" type="button" value="Ajouter un film" name="todo">

    </form>
</div>