.MovieCategory{
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: start;
    margin-left: 2rem;
    font-size: 2rem;
    color: var(--color-white);
    overflow: hidden;
}

.MovieCategory__film{
    gap: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}
