.MovieDetail {
    display: flex;
    flex-direction: column;
    font-family: var(--ff-sans);
    width: 95%;
}

.MovieDetail__container{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 2rem;
}


.MovieDetail__container_info{
    display: flex;
    flex-direction: column;
}

.MovieDetail__titre {
    text-align: center;
    font-size: 5rem;
    margin: 0;
}

.MovieDetail__director {
    margin: 0;
}

.MovieDetail__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    text-align: start;
    margin-top: 2rem;
    margin-bottom: 2rem;
    gap: 5rem;
    font-size: 1.2rem;
}

.MovieDetail__li {
    width: 4rem;
    border-radius: 1rem;
    background-color: var(--color-gray-dark);
    color: var(--color-white);
    border: 0.15rem solid var(--color-white);

}


.MovieDetail__container_img {
    margin-top: 5rem;
    margin-bottom: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;

}

.MovieDetail__img {
    width: 25rem;
}

.MovieDetail__trailer {
    height: 50rem;
}

@media (max-width: 64em) {

    .MovieDetail__trailer {
        height: 22rem;
    }

    .MovieDetail__li {
        width: 4rem;

    }

    .MovieDetail__img {
        width: 100%;
    }

    .MovieDetail__titre {
        font-size: 4rem;
    }

    .MovieDetail__info {
        gap: 3rem;
        font-size: 0.7rem;
    }
}