<section class="MovieDetail" style="--bg-card:url('../../../server/images/{{image}}')" alt="affiche">
    <ul class="info_MovieDetail">
        <li class="titre_MovieDetail">{{name}}</li>
        <li class="director_MovieDetail">{{director}}</li>
        <li class="descritpion_MovieDetail">{{descritpion}}</li>
        <li class="year_MovieDetail">{{year}}</li>
        <li class="min_age_MovieDetail">{{min_age}}</li>
        <li class="id_category_MovieDetail">{{id_category}}</li>
        <iframe src="{{trailer}}" class="trailer_MovieDetail"></iframe>
    </ul>

</section>


