<section class="film">
    <img src="/SAE2.03-Valentin-Poinet/server/images/{{image}}" alt="affiche" class="img_film">
    <div>
        <h1 class="titre_film">{{name}}</h1>
        <h2 class="director_film">{{director}}</h2>
        <p class="descritpion_film">{{descritpion}}</p>
        <p class="year_film">{{year}}</p>
        <p class="min_age_film">{{min_age}}</p>
        <p class="id_category_film">{{id_category}}</p>
        <iframe src="{{trailer}}" class="trailer_film"></iframe>
    </div>

</section>