<section class="MovieDetail">
    <div class="MovieDetail__trailer">
        <iframe src="{{trailer}}" width="100%" height="100%" frameborder="0">
        </iframe>
    </div>
    
    <h1 class=" MovieDetail__titre">{{name}}</h1>
    <h2 class=" MovieDetail__director">{{director}}</h2>
    
    <div class="MovieDetail__container">
        <div class="MovieDetail__container_info">
            <ul class="MovieDetail__info">
                <li class="MovieDetail__descritpion">{{descritption}}</li>
                <li class="MovieDetail__year">Année de sortie : <span class="MovieDetail__year_texte">{{year}}</span></li>
                <li class="MovieDetail__category">Catégorie : <span class="MovieDetail__year_texte">{{category}}</span></li>
                <li class="MovieDetail__li align-center">+{{min_age}}</li>
            </ul>
        </div>
    </div>
    
</section>