.card_container{
    background-color: var(--color-gray);
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* cursor: pointer; */
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 15rem;   
    height: 23rem;
    margin-bottom: 5rem;
    border-radius: 1rem;
    background-color: var(--color-gray-dark);
    color: var(--color-white);
    border: solid var(--color-white);
}

.card:hover .card_image{
    transform: scale(1.2);
}

.container_card_image{
    overflow: hidden;
}

.card_image{
    transition: 300ms all;
    width: 15rem;
}

.card_titre{
    display: flex;
    flex-wrap: wrap;
    margin: 0.5rem;
    font-size: 1rem;
}