<div class="addProfil">
    <h4 class="addProfil__title"># Ajouter ou modifier un utilisateur</h4>
    <form class="addProfil__form">

        <input required type="text" name="name" placeholder="Saisir le nom de l'utilisateur" >
        <input required type="text" name="image" placeholder="Saisir le nom du fichier de l'image" >
        <input required type="number" name="age" placeholder="Saisir la restriction d'âge de l'utilisateur">

        <input onclick="{{handler}}" type="button" value="Ajouter un utilisateur" name="todo">

    </form>
</div>
